force-app/main/default/flows/RLM_Order_Contract_Creation_and_Association.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Contract_Info</name>
        <label>Calculate Contract Info</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>RLM_OrderItemContractingUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_to_See_if_Contract_is_Needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputOrderIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RLM_OrderItemContractingUtility</nameSegment>
        <outputParameters>
            <assignToReference>CountOfAddActions</assignToReference>
            <name>addOrderActionCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CountOfAmendActions</assignToReference>
            <name>amendOrderActionCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContractTerm</assignToReference>
            <name>outContractTerm</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ContractEndDate</assignToReference>
            <name>outEndDate</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CountOfRenewActions</assignToReference>
            <name>renewOrderActionCount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CountOfSubscriptions</assignToReference>
            <name>subscriptionItemCount</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Set_Values_of_Contract_with_Opp</name>
        <label>Set Values of Contract with Opp</label>
        <locationX>374</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ContractToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.PricingSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LastTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_with_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_of_Contract_without_Opp</name>
        <label>Set Values of Contract without Opp</label>
        <locationX>638</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ContractToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.PricingSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LastTransaction</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContractToCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract_without_Opp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Opportunity_tied_to_Order</name>
        <label>Check for Opportunity tied to Order</label>
        <locationX>506</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Set_Values_of_Contract_without_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order is not tied to Opp</defaultConnectorLabel>
        <rules>
            <name>Order_is_tied_to_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote.OpportunityId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_Record</targetReference>
            </connector>
            <label>Order is tied to Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_to_See_if_Contract_is_Needed</name>
        <label>Check to See if Contract is Needed</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Order_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_No_Subscriptions_on_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfSubscriptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>If No Subscriptions on Order</label>
        </rules>
        <rules>
            <name>No_New_Contract_Order_Actions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfAddActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountOfRenewActions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <label>No New Contract Order Actions</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order - Contract Creation and Association {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RLM Order - Contract Creation and Association</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Usage_Assignment</name>
        <label>Create Application Usage Assignment</label>
        <locationX>638</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Activate_Contract</targetReference>
        </connector>
        <inputAssignments>
            <field>AppUsageType</field>
            <value>
                <stringValue>RevenueLifecycleManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId</field>
            <value>
                <elementReference>ContractToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AppUsageAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Usage_Assignment_with_Opp</name>
        <label>Create Application Usage Assignment (with Opp)</label>
        <locationX>374</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Activate_Contract_with_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>AppUsageType</field>
            <value>
                <stringValue>RevenueLifecycleManagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId</field>
            <value>
                <elementReference>ContractToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AppUsageAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract_with_Opp</name>
        <label>Create Contract with Opp</label>
        <locationX>374</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Set_Order_Contract_with_Opp</targetReference>
        </connector>
        <inputReference>ContractToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract_without_Opp</name>
        <label>Create Contract without Opp</label>
        <locationX>638</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Set_Order_Contract</targetReference>
        </connector>
        <inputReference>ContractToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>374</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Values_of_Contract_with_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Items</name>
        <label>Get Order Items</label>
        <locationX>506</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Opportunity_tied_to_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Contract</name>
        <label>Activate Contract</label>
        <locationX>638</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Associate_Contract_to_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractToCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Activate_Contract_with_Opp</name>
        <label>Activate Contract (with Opp)</label>
        <locationX>374</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Associate_Contract_to_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractToCreate.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <name>Associate_Contract_to_Order</name>
        <label>Associate Contract to Order</label>
        <locationX>506</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>ContractToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Order_Contract</name>
        <label>Set Order Contract</label>
        <locationX>638</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Create_Application_Usage_Assignment</targetReference>
        </connector>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>ContractToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Order_Contract_with_Opp</name>
        <label>Set Order Contract (with Opp)</label>
        <locationX>374</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Create_Application_Usage_Assignment_with_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>ContractToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Contract_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
    <variables>
        <name>ContractEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractTerm</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ContractToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>CountOfAddActions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountOfAmendActions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountOfRenewActions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountOfSubscriptions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
